<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <!-- <%-  %> is used when referring other ejs -->
    <%- include('./partials/nav.ejs') %>
    <h1>go back, the page you are looking for is not here</h1>
</body>
</html>