<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <!-- <%-  %> is used when referring other ejs -->
    <%- include('./partials/nav.ejs') %>

    <div class="about-content">
        <h1>About Prof Oak</h1>
        <p>
            My name is Oak. People call me the Pokémon Prof. 
            This is what we call a Pokémon. 
            This world is widely inhabited by creatures known as Pokémon. 
            We humans live alongside Pokémon, at times as friendly playmates, 
            and at times as cooperative workmates. 
            And sometimes, we band together and battle others like us. 
            But despite our closeness, we don't know everything about Pokémon. 
            In fact, there are many, many secrets surrounding Pokémon. 
            To unravel Pokémon mysteries, I've been undertaking research. 
            That's what I do.
        </p>
    </div>

</body>
</html>