  <!-- <%  %> is used for most javascript syntax -->
  <% const pretitle = 'this is an example website' %>

  <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/pokemon/create">Create</a>
  </nav>
  <div class = "site-title">
    <!-- <%=  %> is used to output variable define -->
    <p><%= pretitle %></p>
    <h1>Pallet Town</h1>
    <p>Home of Ash Ketchum, the world champion</p>
  </div>